// Fonts
$font-family-body = "Menlo", "Meslo LG", monospace
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.725

// Colors
$color-background = #e2e0de
$color-link = rgba(43, 188, 138, 1) // vimeo: :selection with alpha=1

$color-text = #363533
$color-light = #333333
$color-lightest = #111111
$color-accent = #d44375
$color-quote = #ab2251
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
